@font-face {
    font-family: 'din_light';
    src: url('../assets/fonts/DINPro-Light_13935.woff2') format('woff2'),
         url('../assets/fonts/DINPro-Light_13935.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'din_regular';
    src: url('../assets/fonts/DINPro-Regular_13937.woff2') format('woff2'),
         url('../assets/fonts/DINPro-Regular_13937.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'din_medium';
    src: url('../assets/fonts/DINPro-Medium_13936.woff2') format('woff2'),
         url('../assets/fonts/DINPro-Medium_13936.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'din_regular', 'Arial';
}

header {
    background-color: white;
    padding: 50px 0;
    height: auto;
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    box-shadow: 0px 0px 20px #80808059;
}

.background {
    height: 1920px;
    width: 1080px;
    background-size: cover;
    background-image: url('../assets/img/hero.jpg');
    background-repeat: no-repeat;
    background-position: bottom center;
}

header >img {
    width: 400px;
}

header a {
    position: absolute;
    right: 50px;

}

header a img {
    height: 50px;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: column;
    top: 33%;
    width: 100%;
}

.choices button {
    width: 35%;
    border-radius: 5px;
    color: #333333;
    border: 4px solid #333;
    padding: 25px 30px;
    font-size: 36px;
    margin-bottom: 80px;
    background: transparent;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000008f;
    justify-content: center;
    align-items: center;
    z-index: 4;
}

.off_click {
    width: 100%;
    height: 100%;
    position: absolute;
}

.popup .holder {
    width: 100%;
    height: auto;
    max-width: 700px;
    background-color: white;
    padding: 50px;
    position: relative;
    z-index: 2;
    display: none;
    border-radius: 5px;
}

input  {
    font-size: 50px;
    border: 2px solid black;
    width: 87%;
    font-size: 36px;
    padding: 20px 40px;
    margin-bottom: 30px;
}

.popup .holder p, .message p {
    font-size: 36px;
    margin-bottom: 60px;
}

.message {
    width: 0;
    transition: width .5s;
    height: 100%;
    background: #cb1825;
    position: absolute;
    z-index: 5;
    top: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.alert {
    display: none;
}

.message p {
    color: white;
    display: none;
}

.message p:last-child {
    margin-top: -15px;
}

.popup .holder p:first-child, .message p:first-child {
    font-size: 36px;
    margin-bottom: 40px;
    font-family: 'din_medium';
    font-size: 64px;
    margin-top: 0;
}

.red_button {
    background: #cb1825;
    color: white;
    border: none !important;
    outline: none ;
}

.popup .holder .red_button {
    width: 100%;
}










