/*========================================  PHOTOBOOTH CSS  ==================================================*/
.photobooth h1 {
  color: white;
  font-size: 63px;
  font-weight: 600;
  
}

.photobooth h2 {
  color: white;
  font-size: 35px;
  letter-spacing: 4px;
  
}

.photobooth h3 {
  font-weight: lighter;
  font-size: 40px;
  font-weight: bold;
  color: white;
  
}

.photobooth p {
  font-size: 38px;
  color: white;
  font-weight: normal;
  line-height: 1.7;
}

.photobooth .share_overlay p {
  margin-top: -20px;
  background: white;
  color: #5d891b !important;
  display: inline-block;
  padding: 10px 30px;
  font-size: 28px;
}

#share_btn {
  margin-top: 70px;
  height: 109px;
  background: transparent;
  border: 2px solid white;
  color: white;
}

aside.home_click {
  right: 65px;
  top: 80px;
  display: none;
  z-index: 1;
  position: absolute;
  padding: 34px 50px;
  text-align: center;
  z-index: 2;
}

aside.home_click img {
  height: 68px;
}

aside.home_click h3 {
  margin-bottom: 0px;
  margin-top: 22px;
  color: #E9D66B;
}

.button {
  color: white;
  width: 70%;
  display: block;
  margin: auto;
  font-size: 33px;
  text-decoration: none;
  text-transform: uppercase;
  border: 4px solid white;
  padding: 27px;
  margin-bottom: 51px;
  display: block;
}

.reverse {
  background-color: #E9D66B;
  color: white;
}

.gif_info {
  display: none;
  color: white;
  position: absolute;
  width: 100%;
  text-align: center;
  margin: 0;
  top: 123px;
  font-weight: bold;
  font-size: 47px;
}

.next {
  display: none;
  color: white;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 200px;
  z-index: 3;
  font-weight: bold;
}

.photobooth form {
  margin-top: 107px;
}

.share_overlay input.input {
  display: inline-block;
  width: 83%;
  padding: 35px 54px;
  background: transparent;
  border: 2px solid white;
  font-size: 35px;
  font-weight: normal;
  margin-bottom: 48px;
  outline: none;
  color: white;
  transition: transform .5s;
  height: auto !important;
  font-weight: bold;
}

.line {
  height: 1px;
  width: 100%;
  background: white;
  margin: 68px 0;
}

.share_overlay input.input::placeholder {
  color: rgba(255, 255, 255, 0.62);
  font-weight: lighter;
}

.share_overlay input.input:focus {
  transform: translateY(-5px);
  border-color: white !important;
}

.share_overlay {
  display: none;
  background-color: #5d891b;
  height: 1920px;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 3;
  overflow-y: auto;
}

.share_overlay input.input {
  display: block;
}

#share_alert {
  background-color: white;
  display: none;
  position: fixed;
  bottom: 0;
  height: 1920px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  z-index: 7;
}

#share_alert p {
  font-size: 42px;
  letter-spacing: 3px;
}

#share_alert h3, #donation_alert h3 {
  font-size: 115px;
  color: #5d891b;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 0;

}

#share_alert p, #donation_alert p {
  color: #5d891b;
  margin-top: -8px;
  
}

#done {
  position: absolute;
  right: 133px;
  top: 620px;
}



/* ================  HOME  =================*/
.home_photobooth {
  overflow: hidden;
}

.home, .product_page {
  height: 100vh;
  width: 1080px;
  overflow-x: hidden;
  position: absolute !important;
  left: 0;
}

.home {
  overflow: hidden;
}
.home_highlights .home,
.home_sessions .home {
    overflow: scroll;
}

.vid {
  height: 1920px;
  position: fixed;
  z-index: 0 !important;
  left: 0;
  /*display: none;*/
}

.photobooth .vid {
  background-size: cover;
  background-image: url('../assets/img/background.png');
  width: 1080px;
}


.inner_page_hero .overlay {
  background-color: #348eca66;
  height: 100%;
  position: absolute;
  width: 100%;
}

.inner_page_hero .overlay h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 49px;
}




canvas img {
  margin: auto;
}

.photos {
  /*background-size: cover;*/
  /*background-image: url('https://image.freepik.com/free-vector/winter-silver-background-with-snowflakes_1048-85.jpg');*/

  height: 1920px;
  margin-bottom: 10px;
  display: none;
  justify-content: center;
  align-items: flex-end;
}

.photobooth .photos {
  display: flex;
  position: relative;
  z-index: 2;
}

.holiday {
  width: 83%;
  position: absolute;
  top: 506px;
  height: auto !important;
}

#photos {
  transition: opacity 1s, height .5s;
}

.photos img {
  padding: 45px 50px;
  height: 100px;
}

#slider, .slide_pic, .slide {
  width: 100%;
  height: 100%;
}

#slider {
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 230px;
  height: 985px;
  display: none;
  width: 100%;
  font-size: 200px; color: white; text-align: center;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide img {
  height: 1080px;
  width: 1080px;
  padding: 0;
}

.slide_pic {
  position: absolute;
  height: 1080px;
}

.pic_one {
  background-size: cover;
  background-image: url('../assets/img/home_photo.jpg');
}

.pic_two {
  background-size: cover;
  background-image: url('../assets/img/home_photo2.jpg');
}

.pic_three {
  background-size: cover;
  background-image: url('../assets/img/home_photo3.jpg');
}

.pic_four {
  background-size: cover;
  background-image: url('../assets/img/home_photo4.jpg');
}

.photos .button {
  position: absolute;
  margin-top: -54px;
}

#choose_picture {
  left: 345px;
  width: 280px;
}

#choose_gif {
  right: 120px;
  width: 280px;
  text-align: center;
}


.donate {
  background-size: cover;
  background-image: url('../assets/img/donate.png');
  background-position: center -165px;
  background-color: #E9D66B;
  height: 337.5px;
  width: 100%;
  margin-bottom: 10px;
  transition: opacity 1s, height .5s;
}

span.currencyinput {
  position: relative;
  font-size: 60px;
  color: rgba(255, 255, 255, 0.61);;
  left: 54px;
  top: -382px;
  transition: color .5s;
}

input.donateinput {
  padding-left: 114px;
  width: 76.5%;
}

.inner_content {
  display: none;
  width: 100%; height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  margin: auto;
  padding: 100px;
  width: 880px;
  /*top: 230px;*/
    position: relative;
}

.event_pics {
  height: 130px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #45b848 !important;
  z-index: 5;
}

.event_pic {
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 69px;
  height: 600px !important;
}

.event_pics img {
  height: 55px;
}

.event_pics .overlay .bubble:before {
  content: '';
  background-color: #45b848;
  border-radius: 100%;
  height: 156px;
  width: 180px;
  position: absolute;
  z-index: -1;
  top: -80px;
}

.event_pics p {
  margin-top: 25px;
  font-size: 27px;
  letter-spacing: 3px;
  /*font-family: 'proxima_novabold';*/
}

.event_pics .overlay .bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -66px;
  width: 350px;
}


.display_gifs .event_pic {
  height: 640px;
}

.overlay {
  background-color: #45b848;
  width: 100%; height: 88%;
  display: flex;
  justify-content: center;
  align-items: center;
  /*transition: background-color .3s;*/
}

.active {
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  bottom: 0;
  margin-bottom: 0;
}



/* ================  PHOTOS  =================*/
.camera_button {
  /*display: none;*/
  position: absolute;
  top: 285px;
  z-index: 3;
}

#snap_photo {
  left: 305px;
}

#snap_gif {
  right: 305px;
}

.countdown {
  font-size: 0px;
  position: absolute;
  color: white;
  top: 45%;
  transform: translateY(-30%);
  -webkit-transition: font-size .7s ease;
  -moz-transition: font-size .7s ease;
  -o-transition: font-size .7s ease;
  transition: font-size .7s ease;
  z-index: 4;
}

.flash {
  display: none;
  background: yellow;
  height: 1920px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: white;
  transition: background-color 1s;
}

.pic_text, .gif_text {
  /*display: none;*/
  position: absolute;
  top: 175px;
  font-size: 43px;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: bold;
}

#video, #pictures, #pictures .canvas_holder {
  display: none;
  z-index: 2;
}

.photobooth #video {
  display: none;
  height: auto;
  position: absolute;
  top: 545px;
}

.draw_ctl {
  display: none;
  position: absolute;
  z-index: 2;
  top: 229px;
  left: 45%;
  padding: 20px;
}



#pen {
  display: none;
  width: 100px;
  width: 85px;
  position: absolute;
  z-index:2;
  padding: 20px;
  left: 45%;
  top: 100px;
  -webkit-animation: bounce 3s infinite ease-in-out;
}

@-webkit-keyframes bounce {
  40%, 60%  { -webkit-transform: translateY(0); }
    
  50% { -webkit-transform: translateY(-10px); }
}


#inverse {
  -webkit-filter:invert(1);
    -moz-filter:invert(1);
    -o-filter: invert(1);
    -ms-filter: invert(1);
    filter: invert(1);
}

.canvas_holder {
    display: inline-block;
    text-align: center;
    transition: background-color .2s;
    /*background-image: url('../assets/img/christmas_dark.png');*/
}

#drawn {
    position: absolute;
    left: 90px;
    top: 360px;
}

.gif_container {
  padding: 50px;
  width: 980px;
  padding-top: 238px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gif_container .canvas_holder {
  width: 392px;
  margin: 28px 32px;
}

.gif_container .canvas_holder img {
  width: 392px;
}

.canvas_holder img {
  box-shadow: 0px 0px 15px #00000070;
}

.gif {
  transition: outline 1s;

}

.photo {
  width: 100%;
  position: absolute;
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 1710px;
  top: 0;
  
}



.photo img, .gif_show img {
  width: 75%;
}

.photo img {
  width: 83%;
}

#draw {
  display: none;
  position: absolute;
  left: 91px;
  margin-top: -105px;
}

#pictures img:last-child {
  position: absolute;
  left: 91px;
  /*margin-top: -105px;*/
}

#pictures .gif_container img:last-child {
  position: relative;
  left: auto;
}

.gif_show img {
  height: 675px;
  width: 900px;
  position: relative;
  top: -169px;
  z-index: 2;
}

.gif_show .submit {
  bottom: 200px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  right: auto;
}
/*#pictures .canvas {
  width: 100%;
  height: 100%;
}
*/

.colors {
  display: none;
  position: absolute;
  z-index: 4;
  top: 256px;
}

.color {
  width: 92px;
  height: 106px;
}

.sizes {
  position: absolute;
  display: none;
  top: 256px;
  right: 0;
  z-index: 4;
}

.size {
  border-radius: 100%;
  margin: 31px;
  margin-bottom: 95px;
  background-color: white;
  transition: scale .2s;
}

#small {
  width: 20px; height: 20px;
}

#medium {
  width: 25px; height: 25px;
}

#large {
  width: 30px; height: 30px;
}

#huge {
  width: 35px; height: 35px;
}

.size:active {
  transform: scale(1.2);
}


#colorRed {
  background-color: #c22628;
}

#colorGreen {
  background-color: #49a463;
}
#colorBlue {
  background-color: #30b9dc;
}
#colorWhite {
  background-color: #fff;
}
#colorBlack {
  background-color: #000;
}

.fa-close {
  position: fixed;
  right: 15px;
  top: 12px;
  font-size: 56px !important;
  color: #5d891b;
  cursor: pointer;
  z-index: 110;
  background: white;
  padding: 10px 15px;
  z-index: 100101;
}

.fa-close.sharex {
  display: none ;
}

.draw_ctl .fa-close {
  position: relative;
  right: auto;left: auto;top: auto;
  top: -125px;
}

#pictures {
    position: relative;
    height: 1710px;
    background-size: cover;
    
    /*background-image: url('../assets/img/christmas_dark.png');*/
}

#pictures .button {
  margin-bottom: 60px;
  z-index: 4;
}

#submit_form {
  margin-top: 360px;
}

.submit, .retake {
  display: none;
  position: absolute;
  bottom: 200px;
  /*left: 35%;*/
  /*transform: translateX(-50%);*/
  z-index: 1;
  height: auto !important;
  background-color: transparent;
  width: 30%;
  text-align: center;
}

.submit {
  right: 11%;
}

.retake {
  left: 11%;
}

.print {
  display: none;
  position: absolute;
  bottom: 0;
  left: 36%;
  transform: translateX(-50%);
  z-index: 1;
}

.like {
  display: none;
  border-radius: 100%;
  height: 130px;
  width: 130px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 39%;
  background: white;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity .5s;
}

.check {
  display: inline-block;
}

.check:after{
  content: '';
  display: block;
  width: 30px;
  height: 60px;
  border: solid #ea5e28;
  border-width: 0 15px 15px 0;
  transform: rotate(45deg);
  margin-top: -18px;
}

.gif_show {
  display: none;
  height: 1720px;
  width: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
  /*background-size: cover;
  background-image: url('../assets/img/christmas_dark.png');*/
}

.flex {
  display: flex !important;
}

.gif_show .gif {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0;
}

.gif_show .gif canvas {
  height: 100%;
  width: 100%;
}

#loader {
    position: absolute;
    top: 29%;
    width: auto;
    height: 400px;
    z-index: 1;
    filter: brightness(0) invert(1);
    transition: transform 5s;
   -webkit-animation: spin 4s infinite ease-in-out;
}

@-webkit-keyframes spin {
  0%  { -webkit-transform: rotate(0deg); }
    
  100% { -webkit-transform: rotate(360deg); }
}



.event_pics .button {
  /*display: none;*/
  border: 3px solid white;
  margin-bottom: 66px !important;
}

.shrunk {
  transform: scale(.8);
  position: fixed;
  top: 230px;
  left: 4px;
  /*font-size: 40px;*/
}

.up {
    transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

i {
  border-width: 0 8px 8px 0;
  display: inline-block;
  padding: 12px;
  position: fixed;
  z-index: 101000;
}

.top {
  position: fixed;
  bottom: 50px;
  right: 82px;
  padding: 20px;
}

.display_images, .display_gifs {
  display: none;
  text-align: center;
  margin-top: 200px;
  text-align: center;
  margin-top: 200px;
  position: relative;
  top: 200px;
  overflow-y: auto;
}

.choice h2 {
  font-size: 82px;
}

.choice {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 960px;
  opacity: 0;
  transition: opacity 1s;
}

.event_images {
  background-image: url('../assets/img/home_photo.jpg');
}

.event_gifs {
  background-image: url('https://static.wixstatic.com/media/c11316_9ccc15c96fd04386b552cadf789f303f~mv2.gif');
}

.display_images, .display_gifs {
  display: none;
  text-align: center;
    margin-top: 200px;
}

.event_pics .button {
/*  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 28px;*/
  margin: 0;
  text-align: center;
}

.display_gifs img:last-child {
  margin-bottom: 300px;
}

.display_images img:last-child {
  margin-bottom: 300px;
}

.event_pics.active {
  height: 1920px;
}

.filters {
  position: absolute;
  top: 195px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.filters img {
  width: 234px;
  position: relative !important;
  left: auto !important;
  margin: 0 50px;
}

/*.orange {
  opacity: 0;
  height: 1690px;
  background-color: #E9D66B;  
  transition: opacity 1s, height 2s;
  position: absolute;
  bottom: 0;
}*/